<!-- 後台導覽列區域開始 -->
<%= render "admin/shared/admin_navbar" %>
<!-- 後台導覽列區域結束 -->

<!-- 麵包屑區域開始 -->
<section class="back_list_area">
	<div class="container">
		<ul>
			<li><a href="#"><i class="fas fa-tachometer-alt"></i>Dashoard</a></li>
		</ul>
	</div>
</section>
<!-- 麵包屑區域結束 -->