/*******************************************************************/
/* Color Style */
/*******************************************************************/
$block_word: #333333;
$white_word: #fff;
$silver_line: #eee;
$gray_content: #777777;
$hover_pink: #e83e8c;
$border_blue: #00BFFF;
$footer_blue: #f5fafa;
$footer_black: #252525;
$bg_orange: #ffc107;
/*******************************************************************/
/* BASIC  */
/*******************************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: $block_word;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:focus {
  outline: none;
  text-decoration: none;
}

a {
  cursor: pointer;
  color: $block_word;
  transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
}

a:hover {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: none;
  outline: none;
}

br {
  font-size: 0;
  line-height: 0;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
  border-top: 1px solid $silver_line;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

ol, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: $block_word;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0px;
  color: $gray_content;
}

.pt_40 {
  padding-top: 40px;
}

.pt_60 {
  padding-top: 60px;
}

.pb_20 {
  padding-bottom: 20px;
}

.pb_40 {
  padding-bottom: 40px;
}

.py_20 {
  padding: 20px 0;
}

.py_40 {
  padding: 40px 0;
}

.py_80 {
  padding: 80px 0;
}

.py_100 {
  padding: 100px 0;
}

.p_20 {
  padding: 20px;
}

.p_40 {
  padding: 40px;
}

.button {
  padding: 15px 35px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}

.btn_pink {
  color: $white_word;
  background-color: $hover_pink;
  border-color: $hover_pink;
}

.btn_pink:hover {
  color: $block_word;
  background-color: $border_blue;
  border-color: $border_blue;
}

// 麵包屑區域開始
section.list_area {
  margin-bottom: 20px;
  background-color: $silver_line;
  ul {
    > li {
      list-style: none;
      display: inline-block;
      padding: 15px 20px;
      transition: all 1s ease 0s;
      > a {
        color: #e1534f;
        > i {
          margin-right: 5px;
        }
      }
    }
    > li:hover {
      background-color: $border_blue;
      > a {
        color: $white_word;;
      }
    }
  }
}

// 麵包屑區域結束