// 手機、平板以下 平板的直向和橫向都能用開始
@media screen and (max-width: 767px) {
	// 導覽列 Top 區域，右邊區塊置中
	.header_top_right {
		text-align: center;
	}
	
	// 導覽列 Down 區域，導覽列內距
	.navbar-expand-lg {
		.navbar-nav {
			.nav-link {
				padding: 0.3rem 0.5rem;
			}
		}
	}
	
	// 導覽列 Down 區域，帶一張背景圖
	.rwd_ul_bg {
		background-image: url("http://shoppestores.com/demos/apparel-store/images/bg.jpg");
	}
}
// 手機、平板以下 平板的直向和橫向都能用結束

// 桌機、平板以上開始
@media screen and (min-width: 768px) {
	// 導覽列 Top 區域，右邊區塊置右
	.header_top_right {
		text-align: right;
	}
	
	// 導覽列 Down 區域，導覽列內距
	.navbar-expand-lg {
		.navbar-nav {
			.nav-link {
				padding: 0px 25px;
			}
		}
	}
}
// 桌機、平板以上結束



  