<!-- footer 區域開始 -->
<footer class="footer_area">
	<div class="footer_top pt_60 pb_40">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4">
					<div class="footer_item1">
						<h6>What We Are?</h6>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
					</div>
				</div>
				<div class="col-6 col-md-6 col-lg-2">
					<div class="footer_item2">
						<h6>Information</h6>
						<ul>
							<% @categories.each do |category| %>
								<li>
									<%= link_to category.name, category_path(category) %>
								</li>
							<% end %>
							<li><a href="#">Brand</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
				</div>
				<div class="col-6 col-md-6 col-lg-2">
					<div class="footer_item2">
						<h6>Usefull Links</h6>
						<ul>
              <li><a href="about.html">About Us</a></li>
              <li><a href="#">Customer Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Orders and Returns</a></li>
              <li><a href="#">Help &amp; FAQs</a></li>
              <li><a href="contact.html">Conatct Us</a></li>
            </ul>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 mb_sm_30">
					<div class="footer_item2 contactus_block">
						<h6>Conatct Us</h6>
						<ul>
							<li>
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								Gelderseplein 750, 601 WZ Rotterdam
							</li>
							<li>
								<i class="fa fa-envelope" aria-hidden="true"></i>
            		<a href="mailto:vitata710@gmail.com">vitata710@gmail.com</a>
							</li>
							<li><i class="fa fa-phone" aria-hidden="true"></i>+0123-456-789</li>
							<li><i class="fa fa-fax" aria-hidden="true"></i>+0123-456-789</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_down py_20">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-12 col-xl-12">
					<p class="text-center">
						© Copyrights <b>BEStore</b>. All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer 區域結束 -->