<!-- 導覽區域開始 -->
<header class="header_navbar">
	<div class="header_top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-4 col-xl-3 d-none d-sm-block">
					<div class="header_top_left">
						<p>Welcome to <b>BEStore </b>~ You will love it.</p>
					</div>
				</div>
				<div class="col-12 col-md-8 col-xl-9">
					<div class="header_top_right">
						<!--登入之後 -->
						 <a href="#"><i class="fa fa-shopping-basket"></i>購物車</a>
						 <a href="#"><i class="fa fa-user"></i>我的帳戶</a>
						 <a href="#"><i class="fa fa-heart"></i>願望清單</a>
						 <a href="#"><i class="fa fa-share-square"></i>會員登出</a>
						<!--登入之前 -->
						<!-- <a href="#"><i class="fa fa-user-plus"></i>註冊加入</a> -->
						<!-- <a href="#"><i class="fa fa-hand-pointer"></i>會員登入</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header_down">
		<nav class="navbar navbar-expand-lg navbar-light">
			<%= link_to root_path, class: "navbar-brand" do %>
				<img src="https://cdn.shopify.com/s/files/1/1473/1066/t/2/assets/logo.png?11705775279586523163">
			<% end %>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto rwd_ul_bg">
		      <li class="nav-item">
		      	<%= link_to "HOME", root_path, class: "nav-link" %>
		      </li>
		      <% @categories.each do |category| %>
			      <li class="nav-item">
			      	<%= link_to category.name, category_path(category), class: "nav-link" %>
			      </li>
			    <% end %>
		      <li class="nav-item">
		        <a class="nav-link" href="#">BLOG</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">CONTACT</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>
</header>
<!-- 導覽區域結束 -->