<!-- 分類麵包屑區域開始 -->
<section class="back_list_area">
	<div class="container">
		<ul>
			<li>
				<%= link_to admin_categories_path do %>
					<i class="fas fa-sort-amount-up"></i>Categories
				<% end %>
			</li>
		</ul>
	</div>
</section>
<!-- 分類麵包屑區域結束 -->