// Place all the styles related to the bestores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 前台導覽區域開始
header.header_navbar {
	> .header_top {
		padding: 10px 0;
		border-bottom: 1px solid $silver_line;
		.header_top_left {
			> p {
				> b {
					color: $hover_pink;
				}
			}
		}
	}
}

header.header_navbar {
	.header_top_right {
		> a {
			border-left: 1px solid $border_blue;
			padding-left: 10px;
			padding-right: 10px;
			> i {
				margin-right: 5px;
			}
		}
		> a:first-child {
			border: 0;
		}
		> a:hover {
			color: $hover_pink;
		}
	}
}

header.header_navbar {
	.header_down {
		> .navbar-light {
			.navbar-nav {
				.nav-link {
					color: $block_word;
				}
				.nav-link:hover {
					color: $hover_pink;
				}
			}
		}
		a {
			> img {
				width: 133px;
				height: 42px;
			}
		}
	}
}
// 前台導覽區域結束

// 輪播區域開始
.carousel {
	.carousel-caption {
		bottom: 30%;
		> h1, h2 {
			margin-bottom: 20px;
		}
		> p {
			margin-bottom: 10px;
			font-size: 20px;
		}
		> h1 {
			font-size: 62px;
		}
	}
	.onsale_text {
		> p, h1, h2 {
			color: $white_word;
		}
	}
}
// 輪播區域結束

// 商品分類促銷區域開始
section.category_banner {
	.category_banner_item {
		padding: 0;
		position: relative;
		overflow: hidden;
		> .category_banner_title {
			position: absolute;
			top: 50%;
			right: 5%;
    	z-index: 2;
    	transform: translateY(-50%);
		  -moz-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  -o-transform: translateY(-50%);
		  -webkit-transform: translateY(-50%);
		  > h5, h3 {
		  	color: $white_word;
		  	margin-bottom: 20px;
		  }
		}
		> .text-left {
			> h5, h3 {
		  	color: $block_word;
		  	margin-bottom: 20px;
		  }
		}
		> .category_banner_title.text-left {
			left: 5%;
		}
	}
}

section.category_banner {
	.category_banner_item {
		> .category_banner_image:before {
			background-color: rgba(0, 0, 0, 0.5);
	    content: "";
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    transform: scale(0);
	    transition: all 0.5s ease 0s;
	    -o-transition: all 0.5s ease 0s;
	    -moz-transition: all 0.5s ease 0s;
	    -webkit-transition: all 0.5s ease 0s;
	    width: 100%;
	    z-index: 1;
		}
	}
	.category_banner_item:hover {
		> .category_banner_image:before {
			transform: scale(1);
		}
	}
}
// 商品分類促銷區域結束

// 精選商品區域開始
section.featured_products {
	h2 {
		margin-bottom: 20px;
	}
	.product_item {
		margin-bottom: 20px;
		.product_image {
		margin-bottom: 20px;
		}
		.product_content {
			> p {
				color: $block_word;
				margin-bottom: 10px;
				transition: all 0.5s ease 0s;
			}
			> del {
				color: $gray_content;
				font-style: italic;
			}
			> h4 {
				display: inline-block;
				color: $hover_pink;
			}
		}
	}
}

section.featured_products {
	.product_item {
		> .product_image {
			position: relative;
			overflow: hidden;
			> img {
				-webkit-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        -moz-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
			}
		}
	}
	.product_item:hover {
		> .product_image {
			> img {
				-webkit-transform: scale(1.09);
        -moz-transform: scale(1.09);
        -o-transform: scale(1.09);
        -ms-transform: scale(1.09);
        transform: scale(1.09);
			}
		}
		> .product_content {
			> p {
				color: $hover_pink;
			}
		}
	}
}
// 精選商品區域結束

// 網站廣告區域開始
section.home_about_area {
	background-image: url("https://images.pexels.com/photos/206430/pexels-photo-206430.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-position: center center;
	background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

section.home_about_area {
	.home_about_block {
		background-color: $white_word;
		> .home_about_image {
			margin-bottom: 20px;
			> img {
				width: 133px;
				height: 42px;
			}
		}
		> h6 {
			margin-bottom: 20px;
		}
		> p {
			font-style: italic;
			font-weight: 100;
    	line-height: 28px;
    	font-size: 18px;
    	margin-bottom: 20px;
			> span {
				color: $hover_pink;
			}
		}
	}
}
// 網站廣告區域結束

// 促銷及服務區域開始
section.promo_service {
	.promo_service_item {
		border: 1px solid $silver_line;
		margin-bottom: 20px;
		> .promo_icon {
			display: inline-block;
			> i {
				font-size: 45px;
				line-height: 45px;
			}
		}
		> .promo_info {
			display: inline-block;
			text-align-last: left;
			margin-left: 30px;
			> p {
				font-style: italic;
			}
		}
	}
}
// 促銷及服務區域結束

// 合作夥伴 logo 區域開始
section.partner_log_area {
	background-color: $silver_line;
	.text-center {
		margin-bottom: 20px;
		> h2 {
			margin-bottom: 20px;
		}
	}
	.logo_item {
		margin-bottom: 20px;
	}
}
// 合作夥伴 logo 區域結束

// 網站文章區域開始
section.home_post_area {
	h2 {
		margin-bottom: 20px;
	}
	.post_block {
		margin-bottom: 20px;
		h5 {
			text-transform: capitalize;
		}
		.card-text {
			margin-bottom: 0.75rem;
		}
	}
}

section.home_post_area {
	.post_block {
		.card-footer {
			.post_author {
				margin-right: 15px;
				> i {
					margin-right: 5px;
				}
			}
			.post_author, .post_comment {
				color: $gray_content;
				> b {
					color: $block_word;
				}
			}
		}
	}
}

section.home_post_area {
	.post_block {
		.post_image {
			position: relative;
			overflow: hidden;
			> img {
				-webkit-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
	      -moz-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
	      transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
			}
		}
		.post_image:before {
			background-color: rgba(0, 0, 0, 0.5);
	    content: "";
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    transform: scale(0);
	    transition: all 0.5s ease 0s;
	    -o-transition: all 0.5s ease 0s;
	    -moz-transition: all 0.5s ease 0s;
	    -webkit-transition: all 0.5s ease 0s;
	    width: 100%;
	    z-index: 1;
		}
	}
	.post_block:hover {
		.post_image {
			> img {
				-webkit-transform: scale(1.09);
        -moz-transform: scale(1.09);
        -o-transform: scale(1.09);
        -ms-transform: scale(1.09);
        transform: scale(1.09);
			}
		}
		.post_image:before {
			transform: scale(1);
		}
		.card-body {
			> .read_more {
				> a {
					color: $hover_pink;
				}
			}
		}
	}
}
// 網站文章區域結束

// footer 區域開始
footer.footer_area {
	> .footer_top {
		background-color: $footer_blue;
		.footer_item1, .footer_item2 {
			margin-bottom: 20px;
			> h6 {
				margin-bottom: 20px;
			}
		}
		.footer_item2 {
			> ul {
				> li {
					list-style: none;
					margin-bottom: 7px;
					> a:hover {
						color: $hover_pink;
					}
				}
			}
		}
		.contactus_block {
			> ul {
				> li {
					> i {
						padding-right: 8px;
					}
				}
			}
		}
	}
}

footer.footer_area {
	> .footer_down {
		background-color: $footer_black;
		p {
			color: $white_word;
			> b {
				color: $hover_pink;;
			}
		}
	}
}
// footer 區域結束